printthepatter.exe
structure.exe
addAndavg.exe
refrenc.exe
callbyrefrenc.exe
constrecter.exe
friend.exe
functionoverloding.exe
inlinefunction.exe
NEWandDELETE.exe
scopeoperator.exe
setwsetfill.exe
singleinhertenc.exe